body{
    background-image: url("ACUE_MASTER-ACUE-Framework_6505.jpg");



}



.container{
    background-color: white;
    width: 500px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 30px 50px lightseagreen;
    opacity: 0.96;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;

}

.lbl {
    font-size: 16px;
    color: darkgrey;
    font-weight: 400;
}

.val{
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.input-box{
    background-color: transparent;
    color: lightseagreen;
    padding: 5px;

}



#Salary {
    background-color: transparent;
    border: none;
    outline: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: lightseagreen;
}

#ActualRate {
    background-color: transparent;
    border: none;
    outline: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: lightseagreen;
}




#TR {
    background-color: transparent;
    border: none;
    outline: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: lightseagreen;
}

hr{
    border: none;
    border-bottom: 1px solid lightseagreen;
}